In [8]:
import pandas as pd
import numpy as np
from os import path
from CSVUtils import *
import ta
import matplotlib.pyplot as plt
import seaborn as sn
from utils.indicators import *

ModuleNotFoundError: No module named 'config'

In [2]:
DIR = "./input/yahoo"
nameList = ["RSX", "EWH", "IVV"]
trainStartDate = pd.to_datetime("2000-01-01")
trainEndDate = pd.to_datetime("2014-12-31")
testStartDate = pd.to_datetime("2015-01-01")
testEndDate = pd.to_datetime("2019-12-31")
df_list = []

for name in nameList:
#     df = csv2df(csv_path=DIR, csv_name=nameList[2]+".csv", source="yahoo")
    df = csv2df(csv_path=DIR, csv_name=name+".csv", source="yahoo")
    df_list.append(df)

In [5]:
df_list[2]

,Date,Open,High,Low,Price,Vol,Change
0,2000-05-19,142.656250,142.656250,140.250000,96.708588,775500,NaN
1,2000-05-22,140.593750,140.593750,136.812500,96.107178,1850600,-0.006219
2,2000-05-23,140.218750,140.218750,137.687500,94.646423,373900,-0.015199
3,2000-05-24,137.750000,140.062500,136.656250,96.064148,400300,0.014979
4,2000-05-25,140.031250,140.937500,137.875000,95.183456,69600,-0.009168
...,...,...,...,...,...,...,...
4967,2020-02-19,339.329987,340.630005,339.019989,339.880005,2678800,0.004789
4968,2020-02-20,339.329987,340.200012,335.230011,338.489990,3567700,-0.004090
4969,2020-02-21,337.000000,337.320007,334.100006,335.010010,4323700,-0.010281
4970,2020-02-24,324.609985,327.279999,322.700012,323.829987,7492100,-0.033372
4971,2020-02-25,325.380005,326.059998,313.079987,314.119995,12082600,-0.029985